* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Century Gothic', sans-serif;
}

.logo h1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* === removing default button style ===*/
.button-home {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button-home {
    --border-right: 6px;
    --animation-color: #4169E1;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
  }

  .button-home a {
    text-decoration: none;
    color: inherit;
    color: white;
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button-home:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

header {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #000080;
}

nav ul {
    list-style: none;
    background: #4169E1;
    text-align: center;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
}

ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background: #000080;
}

.hide {
    font-size: 22px;
    padding: 16px;
    background-color: #000080;
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    ul li {
        width: 100%;
        padding: 16px;
        text-align: left;
    }

    .hide {
        display: block;
    }

    nav ul {
        display: none;
    }
}