<div class="game-container">
    <div class="connect-four-board">
      <div *ngFor="let row of partida.celdas; let i = index" class="row">
        <button (click)="ocuparCelda(i, j)" *ngFor="let col of row; let j = index" class="cell" [ngClass]="{'red': col === 'X', 'yellow': col === 'O'}" [disabled]="esTuTurno">
          <span *ngIf="col">{{ col }}</span>
          <span *ngIf="!col">&nbsp;</span>
        </button>
      </div>
      <button  *ngIf="enPartida==false" (click)="buscarPartida()">Buscar Partida</button>
      
    </div>

  
    <div class="info-box">
      <h2>Rival: {{this.rival}}</h2>
      <p>Victorias: 5</p>
      <p>Derrotas:3 </p>
      <!-- Agrega más información según sea necesario -->
      <h2>{{this.toca}}</h2>
    </div>
  </div>
  