/* Estilos para el juego Conecta 4 */
.game-container {
    display: flex;
    justify-content: space-between;
  }

  .inicio-sesion span{
    color: red;
  }

  .board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inicio-sesion button {
    background: #4169E1;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
  }

  .inicio-sesion button:hover {
    background: #87CEFA;
  }

  .inicio-sesion {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .connect-four-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
  }
  
  .row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    border: 1px solid #34495e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #34495e;
    background-color: #ecf0f1;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .cell:hover {
    background-color: #bdc3c7;
  }
  
  .red {
    background: #e74c3c;
    color:#e74c3c;
  }
  
  .yellow {
    background: #f39c12;
    color: #f39c12;
  }

  .icon-p1, .icon-p2 {
    width: 100%;
  }
  
  .player {
    font-size: 18px;
    color: red;
  }

  .label-bold {
    font-weight: bold;
    color: #4169E1;
  }

  .info-box h3 img {
    width: 30px;
    height: 30px;
  }

  .info-box h3 {
    font-size: 23px;
  }

  .info-box h2 {
    margin-top: 20px;
  }

  .board-btn {
    background: #4169E1;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
  }

  .board-btn:hover {
    background: #87CEFA;
  }

  .turno-msg {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .info-box {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    border-radius: 10px;
    border: 2px double #4169E1;
  }  
  
  