<div class="cambioP-container">
    <div class="form-cambioP">
        <h1>CAMBIO DE CONTRASEÑA</h1>
        <form [formGroup]="cambioForm" (ngSubmit)="cambiarPass()">
            <label>Contraseña: </label>
            <div class="pass-container">
                <input class="controls" type="password" formControlName="Pwd1" id="password">
                <img src="./assets/ojo.png" id="pass-icon" class="icon" (click) ="passVisible()">
            </div>
            <div  *ngIf="this.cambioForm.controls['Pwd1'].errors" class="msg-required">
                <div *ngIf="this.cambioForm.controls['Pwd1'].errors?.['required']" class="msg-required">
                    El campo Contraseña es obligatorio
                </div>
                <div *ngIf="this.cambioForm.controls['Pwd1'].errors?.['minlength']">
                    La contraseña tiene que tener al menos 6 caracteres
                </div>
            </div>
            <label>Repite Contraseña: </label>
            <div class="pass-container">
                <input class="controls" type="password" formControlName="Pwd2" id="password2">
                <img src="./assets/ojo.png" id="pass-icon2" class="icon" (click) ="passVisible2()">
            </div>
            <div  *ngIf="this.cambioForm.controls['Pwd2'].errors" class="msg-required">
                <div *ngIf="this.cambioForm.controls['Pwd2'].errors?.['required']" class="msg-required">
                    El campo Contraseña es obligatorio
                </div>
                <div *ngIf="this.cambioForm.controls['Pwd2'].errors?.['minlength']">
                    La contraseña tiene que tener al menos 6 caracteres
                </div>
            </div>
            <div *ngIf="passDiferente" style="color: red;">
                Las contraseñas no coinciden
            </div>
            <button class="cambio-btn" [disabled]="cambioForm.invalid" type="submit">Cambiar Contraseña</button>
        </form>
        <button class="cambio-btn"><a href="#">Volver</a></button>
    </div>
</div>