<!-- ahorcado.component.html -->
<div class="game-container">
    <div class="player">
        <div *ngIf="inicioSesion==false" class="inicio-sesion">
            <div>aun no has iniciado sesion</div>
            <button (click)="iniciarSesionInvitado()">Iniciar sesion como invitado</button>
        </div>
        <h1 *ngIf="inicioSesion">Fichas: {{this.partida.fichas}}</h1>  
      <h2>Jugador: {{this.partida.jugadorNombre}}</h2>
      <div class="ahorcado">

        <div id="ahorcado-container"></div>

        <div id="malas"></div>
        <form *ngIf="this.partida.toca"  [formGroup]="letraForm" (ngSubmit)="onSubmit()">
          <input class="controls" type="text" formControlName="Letra" name="Letra">
          <button class="login-btn" type="submit">Poner</button>
        </form>
        <form *ngIf="this.partida.toca"  [formGroup]="resolverForm" (ngSubmit)="onSubmit2()">
          <input class="controls" type="text" formControlName="Palabra" name="Palabra">
          <button class="login-btn" type="submit">Resolver</button>
        </form>
        <div *ngIf="this.partida.toca==false">No es tu turno, mamahuevo</div>
      </div>
      <button *ngIf="BuscarPartida" (click)="buscarPartida()" >Buscar Partida</button>
      <button  *ngIf="enPartida" (click)="cancelarPartida()">Cancelar Partida</button>
    </div>
  
    <div class="player">
      <h2>Jugador: {{this.partida.rivalNombre}}</h2>
      <div class="ahorcado">
        <div>{{this.partida.palabraRival}}</div>
        <div id="ahorcado-container-rival"></div>

        <div id="malas-rival"></div>

        <img src="ahorcado_jugador2.png" alt="Ahorcado Jugador 2">
      </div>
    </div>
  </div>
  