.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}

label {
    font-weight: bold;
    font-size: 16px;
}

h1 {
    text-align: center;
}

.msg-required {
    margin-bottom: 16px;
    color: red;
}

.form-register h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.pass-container {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-80%);
    cursor: pointer;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid #4169E1;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.register-btn {
    width: 100%;
    background: #4169E1;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
}

.register-btn:hover {
    background: #87CEFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.msg-ok {
    font-size: 14px;
    color: green;
    font-weight: bold;
}

.msg-error {
    font-size: 14px;
    color: red;
    font-weight: bold;
}